body {
    background-color: rgb(126, 201, 247);
    font-family: 'Raleway', sans-serif;
}

.header {
justify-content: space-between;
padding: 20px;
align-items: center;
display: flex;
}

.navigation {
    display: flex;
    gap: 20px;
}

.nav-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: white;
    font-size: 50px;
    margin: 0;
font-weight: 500;

}

h2 {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 30px;
    text-align: center
}

p {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 20px;
    text-align: center
}