body {
    background-color: rgb(247, 126, 201);
    font-family: 'Raleway', sans-serif;
}


.header {
justify-content: space-between;
padding: 20px;
align-items: center;
display: flex;
}


.navigation {
    display: flex;
    gap: 20px;
}

.nav-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: white;
    font-size: 60px;
    margin: 0;
font-weight: 500;

}

.hero {
height: calc(100vh - 80px);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 0 20px;
}

.hero-image {
border-radius: 15px;
margin-bottom: 20px;
height: auto;
}
.hero-button {
  background-color: white;
  border: none;
  padding: 14px 28px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.hero-text {
    color: white;
    font-size: 24px;
    max-width: 800px;
    margin-bottom: 20px;
    font-weight: 300;
}
