body {
    background-color: rgb(247, 78, 177);
    margin: 0;
    padding: 0;
}


.header {
justify-content: space-between;
padding: 20px 40px;
}


.navigation {
    gap: 20px;
}

.nav-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

h1 {
    color: white;
    font-size: 60px;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

p {
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}