body {
    background-color: lightpink;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

h1 {
    color: white;
text-align: center;
}

p {
    font-size: 16px;
    color: black;
    text-align: center;
}