body {
    background-color: rgb(126, 201, 247);
    font-family: 'Raleway', sans-serif;
}


.header {
justify-content: space-between;
padding: 20px;
align-items: center;
display: flex;
}


.navigation {
    display: flex;
    gap: 20px;
}

.nav-button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

h1 {
    color: white;
    font-size: 50px;
    margin: 0;
font-weight: 500;

}

.hero-text-overlay {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
text-align: center;
max-width: 800px;
z-index: 2;
}



.hero {
position: relative;
width: 700px;
height: 400px;
margin: 0 auto;
}

.hero-image {
width: 700px;
height: 400px;
border-radius: 10px;
display: block;
object-fit: cover;
margin:auto;
}


.hero-button {
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 14px 28px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
    color: rgb(0, 51, 123);
    font-family: 'Raleway', sans-serif;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.hero-text {
    color: white;
    font-size: 35px;
    max-width: 600px;
    margin-bottom: 20px;
    font-weight: 300;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}

.download{
    color: white;
    font-size: 20px;
    max-width: 600px;
    margin: auto;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    align-content: center;
}

.system-requirements {
    color: white;
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto 20px auto;
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    align-content: center;
}